<!DOCTYPE html>
<head>
<style>
body {
  background-color: #2E4057
}

.footer{
  padding: 10px;
  display: block;
  font-family:'impact';
  font-size: 15px;
  float: left;
  color: #fee8b5;
  
}
  }

</style>
</head>
<html>
{% block content %}

<div class="footer">
  <ul><a href= "/contact">Contact</a></ul>
  <ul><a href= "/">Home</a></ul>
  <ul><a href= "/about">About</a></ul>
  <ul><a href= "/help">Help</a></ul>
  <ul><a href= "/ts&Cs">T&CS</a></ul>
  <ul><a href= "/privacy policy">Privacy Policy</a></ul>
  <ul><a href= "/collaborate">Collaborate</a></ul>
  <
</div>



	{% endblock%}
